/Lab 2/Cookies/target/
/Lab 2/Pulley/target/
/Lab 3/PatientInfo/target/
/Lab 3/Sum/target/
/Lab 3/Matrix/target/
/Lab 3/Product/target/
/Lab 3/NumberSum/target/
/Lab 4/Computer/target/
/Lab 4/Book/target/
